.footer-conatiner{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 1rem 0;
}
.footer-bar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.tab{
    cursor: pointer;
}