.rightJobSection-container {
  height: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightJobSection-container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(40px, 4.8vw, 70px);
  line-height: clamp(60px, 5.6vw, 82px);
  text-align: center;
  max-width: 50%;
  padding: 0px 50px;

  color: #000000;
}
.rightJobSection-container h1 span {
  color: #4540db;
}
.rightJobSection-container p {
  font-weight: 400;
  font-size: clamp(20px, 2vw, 30px);
  max-width: 60%;
  line-height: 35px;
  padding: 0px 60px;
  text-align: center;
  color: #000000;
}

.many-solution-container {
  min-height: 400px;
  padding: 20px;
  margin: 10px auto;
  background: #f6f7fc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.many-solution-container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(30px, 3.4vw, 50px);
  line-height: clamp(30px, 4vw, 59px);
  text-align: center;
  max-width: 50%;
  margin: auto;
  padding: 0px 50px;

  color: #000000;
}

.many-solution-container h2 span {
  color: #4540db;
}
.many-solution-list-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  /* align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px 50px; */
}

.info-card {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  width: 300px;
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin: 10px;
  box-sizing: border-box;
}
.info-card img {
  width: 40px;
  margin-right: 1rem;
}
/* clamp(min font px ,ratio , max font px ) */
/* ratio ( (max font/design width)X100 vw ) */
.feedback-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   padding: 8rem 5rem;
   padding-bottom: 3rem ;
   box-sizing: border-box;
}
.feedback-card {
  width: 280px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1.2rem 1.2rem;
  margin: 1rem;
}
.feeback-card-header {
  height: 30px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 1rem;
}
.feeback-card-header img {
  width: 40px;
  height: 40px;
}
.title {
  margin-left: 1rem;
}

h2 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 1rem;
}
h5{
  margin-bottom: 1rem;
}
p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 1rem;
  text-align: justify ;
  color: #615c5c;
}

.feeback-card-footer {
  display: flex;
  justify-content: space-between;
}
.feeback-card-footer button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 6em;
  font-size: 17px;
  color: #3e39d2c4;
  background: #d0cff95e;
  padding: 3px;
  border-radius: 5px;
}

.see-more{
  display: flex;
  justify-content: center;
}

.landing-img{
  margin-top: 6rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.landing-img img{
  width: 75%;
}