.candidate-onboarding-container {
  width: 100%;
  height: 100vh;
  background: #e5e5e5;
}
.candidate-onboarding-form {
  margin: 3rem 2rem;
  /* border:1px solid #111; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  gap: 10px;
}
.skill-box {
    display: flex;
  font-size: 1.2rem;
  width: 229px;
  height: 49px;
  background: #ffffff;
  border-radius: 6px;
   box-sizing: border-box;
   padding: 5px 5px;
   margin-right:1rem;
   justify-content: flex-start;
}
